.header__nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 186px;
}

.header__nav-reg {
  width: 77px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 0;
  padding-right: 30px;
  text-decoration: none;
  cursor: pointer;
}

.header__nav-reg:hover {
  opacity: .7;
}

.header__nav-in {
  width: 76px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-color: #2BE080;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}

.header__nav-in:hover {
  opacity: .8;
}

@media screen and (max-width: 500px) {
  .header__nav-main {
    width: 150px;
  }

  .header__nav-reg {
    font-size: 10px;
    line-height: 16px;
    padding-right: 14px;
  }

  .header__nav-in {
    width: 53px;
    height: 26px;
    font-size: 10px;
    line-height: 16px;
  }
}