.movies__items {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 1205px) {
  .movies__items {
    /* padding-right: 30px;
    padding-left: 30px; */
  }
}


@media screen and (max-width: 1180px) {
  .movies__items {
    max-width: 710px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .movies__items {
    max-width: 300px;
  }
}