.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  opacity: 0;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear, visibility .1s linear;
}

.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 0;
  top: 22px;
  right: 22px;
  background-image: url(../../images//burger-close.svg);
  background-color: #ffffff;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .7;
}

.popup__container {
  background-color: #ffffff;
  width: 520px;
  /* height: 1024px; */
  height: 100vh;
  position: absolute;
  top: 0;
}

.popup__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 159px;
}

.popup__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__link {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-decoration: none;
  margin: 0 0 28px 0;
  cursor: pointer;
}

.popup__link:hover {
  opacity: .7;
}

.popup__link:last-child {
  margin-bottom: 0;
}

.popup__link_active {
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
  margin-bottom: 23px;
}

.popup__akkaunt {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #F9F9F9;
  color: #000;
  margin-top: 621px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.popup__akkaunt:hover {
  opacity: .8;
}

@media screen and (max-width: 520px) {
  .popup__body {
    margin-top: 144px;
  }

  .popup__link {
    margin-bottom: 24px;
  }

  .popup__link_active {
    padding-bottom: 7px;
  }

  .popup__akkaunt {
    margin-top: 437px;
  }

  .popup__close {
    top: 14px;
  }

  .popup__container {
    width: 100%;
  }
}