.header__nav-burger {
  display: none;
  width: 44px;
  height: 44px;
  background-image: url(../../images/burger-big.svg);
  background: 50% no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
}

.header__nav-container {
  display: flex;

  max-width: 958px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__nav-logo {}

.header__nav-movie {
  display: flex;
  justify-content: flex-start;
}

.header__nav-link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  padding-right: 16px;
  text-decoration: none;
  color: #000000;
}

.header__nav-link:nth-child(2) {
  display: none;
}

.header__nav-link_active {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  padding-right: 16px;
  text-decoration: none;
  color: #000000;
}

.header__nav-akkaunt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 32px;
  background-color: #f9f9f9;
  border-radius: 20px;
  color: #000000;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__nav-burger {
    display: inline-block;
  }

  .header__nav-container {
    flex-direction: column;
  }
}